/* Main container styling for the home header */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&family=Italiana&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Sacramento&display=swap');

.home-header {
    background-color: #ffffff;
    color: #FEF4F8;
    padding: 2rem 7rem;
    font-family: 'Gill Sans', 'Nunito Sans', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

.home-header h1 {
    font-size: 5rem;
    font-weight: bold;
    font-family: "Faculty Glyphic", sans-serif;
    margin-bottom: 1rem;
    color: #fc538e;
    font-weight: 100;
    line-height: 1.2;
}

.home-header p {
    font-size: 1.2rem;
    font-family: "Faculty Glyphic", sans-serif;
    line-height: 2;
    color: #00000075;
}

.content-block {
    margin: 50px 150px;
    display: flex;
}

.content-block p {
    padding: 15px 0px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8;
    font-size: 1rem;
    color: #d65289e9;
    text-align: justify;
}

.content-block h1 {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 2rem;
    color: #ff1265;
}

.contact-section {
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
}

.contact-image img {
    width: 300px;
    height: auto; /* Maintain aspect ratio */
}

.contact-content h2 {
    font-family: "Faculty Glyphic", sans-serif;
    font-size: 2rem;
    color: #ff1265;
}

.contact-content p {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #d65289e9;
}

.contact-content label {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    color: #bb316be9;
}

.submit-button {
    color: #ffffffe9;
    background-color: #bb316be9;
    padding: 10px 25px;
    margin-bottom: 10px;
}

.submit-button:hover {
    background-color: #ff1265;
    transition-duration: 600ms;
}

/* Responsive design for smaller screens */

/* When the screen width is 1200px or smaller */
@media (max-width: 1200px) {
    .home-header {
        padding: 2rem 4rem;
    }
    .home-header h1 {
        font-size: 4rem;
    }
    .content-block {
        margin: 20px 50px;
    }
    .content-block h1 {
        font-size: 1.8rem;
    }
}

/* When the screen width is 900px or smaller */
@media (max-width: 900px) {
    .home-header {
        padding: 2rem 2rem;
    }
    .home-header h1 {
        font-size: 3.5rem;
    }
    .content-block {
        margin: 20px;
        flex-direction: column;
        align-items: center;
    }
    .content-block .content-text, .content-block .content-image {
        text-align: center;
        margin-bottom: 20px;
    }
    .content-block h1 {
        font-size: 1.5rem;
    }
    .contact-section {
        margin: 0px 20px;
    }
    .contact-content h2 {
        font-size: 1.8rem;
    }
    .contact-content label {
        font-size: 1rem;
    }
    .contact-content input,
    .contact-content textarea {
        width: 100%;
    }
    .submit-button {
        width: 100%;
        padding: 12px 0;
    }
}

/* When the screen width is 600px or smaller */
@media (max-width: 600px) {
    .home-header h1 {
        font-size: 3rem;
    }
    .content-block {
        margin: 10px 20px;
        flex-direction: column;
    }
    .content-block h1 {
        font-size: 1.4rem;
    }
    .content-block p {
        font-size: 1rem;
    }
    .contact-section {
        flex-direction: column;
        margin: 0;
    }
    .contact-image {
        width: 40%;
    }
    .submit-button {
        width: 100%;
        padding: 15px;
    }
}
