/* Main container styling for the home header */
.home-header {
    background-color: #Ffffff;
    color: #FEF4F8;
    padding: 2rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
}

/* Heading styling */
.home-header h1 {
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
    font-weight: bold;
    font-family: cursive, sans-serif;
    margin-bottom: 1rem;
    color: #FE7678;
    line-height: 1.2;
}

/* Paragraph styling */
.home-header p {
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.2rem);
    font-family: cursive, sans-serif;
    line-height: 1.5;
    color: #bbb;
}



/* Extra small devices (phones, 320px and up) */
@media only screen and (min-width: 320px) {
    .home-header {
        padding: 1.5rem 0.5rem;
    }
}

/* Small devices (large phones, 375px and up) */
@media only screen and (min-width: 375px) {
    .home-header {
        padding: 2rem 1rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .home-header {
        padding: 3rem 2rem;
    }

    .home-header p {
        max-width: 80%;
    }
}

/* Large devices (desktops, 1024px and up) */
@media only screen and (min-width: 1024px) {
    .home-header {
        padding: 4rem 3rem;
    }

    .home-header p {
        max-width: 1000px;
    }
    .home-header p.starsvg{
        width: 200px;
    }
}

/* Extra large devices (large desktops, 1440px and up) */
@media only screen and (min-width: 1440px) {
    .home-header {
        padding: 5rem 4rem;
    }
}



